.App {
  text-align: center;
  background-color: black;
  margin:20px 50px;
  /* max-width: 50%; */
}

.profilephoto>img{
  height: 200px;
  width: 276px;
  text-align: center;
}

.profilephoto{
  color: #F4F4F4;
}

.aboutme {
  color: #F4F4F4;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #F4F4F4;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

.emailbtn{
  margin-left: 10px;
}

.info--linkedinicon{
 margin-right: 4px;
}

.info--emailicon{
  margin-right: 4px;
}
